*{
    outline-style:none;
}
html, body, figure{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
p{
    margin-top:0;
}
a{
    text-decoration: none;
    color: inherit;
}
.btStyle{
    position: absolute;
    bottom: 15px;
    height: 25px;
    width: 100px;
}
.btStyle p{
    text-align: center;
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.btStyle p:hover ~ .btStyle-zone{
    animation: rempl .3s forwards;
}
.btStyle-zone{
    color: black;
    position: absolute;
    background-color: green;
    left: 0;
    height: 100%;
    width: 40%;
    z-index: 9;
}

@keyframes rempl{
    from{
        width: 40%;
    }to{
        width: 100%;
    }
}

/* Entête zone */
header{
    height: 60px;
    display: flex;
    align-items: center;
}
header a{
    font-size: 1.3rem;
}
header #header-logo{
    flex: 1;
    margin: 0 20px;
}
header nav{
    position: relative;
    flex:5;
    display: flex;
    justify-content: flex-end;
}
header nav ul{
    display: inline-flex;
}
header nav ul li{
    margin:0 1em;
}
#min__Menu__Icon{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    display: block;
    float: right;
    font-size: 2em;
    cursor: pointer;
}
#min__Menu__Icon::before{
    display: none;
    font-family:FontAwesome;
    content: "\f0c9";
}
/* mini menu */
#min__Menu{
    display: none;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    transition: .3s ease-in;
}
#min__Menu ul{
    padding: 10px 20px;
    margin: 0;
}
#min__Menu li{
    padding:10px 0;
}
#min__Menu li:hover{
    border-bottom: 2px solid white;
}
/* Sliders Zone*/
.carousel{
    position: relative;
    overflow: hidden;
    height: 350px;
}
.carousel__Container{
    display: inline-flex;
    width: 300%;
    transition-property: transform;
    transition-duration: 1s;
    height: 350px;
    overflow: hidden;
}
.carousel__Item{
    position: relative;
    float: left;
    width: 100%;
    height: inherit;
    overflow: hidden;
}
.carousel__Item img{
    height: 100%;
    width: 100%;
}
.carousel__Item__Info{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
.carousel__Item__Info h2{
    font-size: 3em;
}
.carousel__Item__Info p{
    font-size: 2em;
}
.carousel__play,.carousel__next, .carousel__prev{
    position: absolute;
    cursor: pointer;
    font-family:FontAwesome;
    z-index: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

}
.carousel__play:hover,.carousel__next:hover, .carousel__prev:hover{
    color: black;
    transition: .3s;
    background-color: rgba(255, 255, 255, 0.75);
}
.carousel__next, .carousel__prev{
    width: 40px;
    height: 40px;
    top:50%;
    transform: translateY(-50%);    
}
.carousel__next{
    right: 0;
    border-radius:20px 0 0 20px;
}
.carousel__next::before{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "\f054";
    font-size: 1.4em;
}
.carousel__prev{
    left: 0;
    border-radius:0 20px 20px 0;
}
.carousel__prev::before{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "\f053";
    font-size: 1.4em;
}
.carousel__play{
    bottom: 0;
    width: 40px;
    height: 40px;
    left:calc(50% - 15px);
    border-radius:20px 20px 0 0;
}
.carousel__play::before{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "\f04b";
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
/************************************************************
                        Réservation
************************************************************/
.input__Reservation, .bt__Reservation{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.input__Reservation.false{
    border: 2px solid red!important;
}
.bt__Reservation{
    border: none;
    background-color: transparent;
    font-weight: bold;
    background-color: #e6da37;
}
.bt__Reservation:hover{
    background-color: #e4973f;
    transition: .3s;
}

/************************************************************
                        Canvas
************************************************************/
#canvas{
    z-index: 1000;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 350px;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    flex-wrap: wrap;
    transition: .5s;
}
#canvas p{
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 1.5rem;
    font-size: 1.2em;
    margin-bottom: -10px;
}

#canvas canvas{
    margin: 20px;
    border: 2px solid black;
}
#canvas #canvasZoneBt{
    width: 100%;
    justify-content: center;
    align-items: center;
}
#canvasZoneBt .bt{
    background-color: #e6da37;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-weight: 400;
    transition: 0.5s;
}
#canvasZoneBt .bt:hover{
    background-color: #e4973f;
}

/* zone maps */
#maps-zone{
    display: flex;
    height: 100vh;
    margin-bottom: 1vh;
    flex-wrap: wrap;
}
#maps-zone #map{
    flex: 2;
    border: 3px solid black;
    margin: 1em;
}
#maps-zone #info{
    flex: 1;
    overflow: auto;
    padding:0 10px;
    margin: 1em;
}
#nomStation{
    font-size: 2rem;
}
#reservation{
    width: 100%;
}
#reservation form{
    display: grid;
}

/* Pied de Page zone */
footer{
    height: 50px;
}

.alRight{
    text-align: right;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.w50f{
    flex: 50%;
}
.w100f{
    flex: 100%;
}
.w75f{
    flex:75%
}
.w25f{
    flex:25%
}
#infoReservation{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 1000;
}
.active{
    filter: blur(20px);
}
@media screen and (max-width: 640px){
    /* Menu */
    header #header-logo {
        flex: 70%;
        margin: 0 10px;
    }
    header nav ul{
        display: none;
    }
    #min__Menu__Icon::before{
        display: block;
    }
    /* zone maps */
    #maps-zone{
        margin-bottom: 1vh;
        flex-wrap: wrap;
        height: auto;
    }
    #maps-zone #map{
        flex: 2 100%;
        height: 400px;
        margin: 0;
    }
    #maps-zone #info{
        flex:1 100%;
        padding:10px;
    }
}